.loading-bar-container {
  width: 80%;
  height: 8px;
  background-color: #e6eaf6;
  border-radius: 4px;
  margin: -5px auto 15px auto;
  overflow: hidden;
}

.loading-bar {
  width: 100%;
  height: 100%;
  background-color: rgb(100, 149, 237);
  transform-origin: left;
  animation-name: loading-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes loading-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
} 